/* Set the height and width for html and body elements */
html, body {
  height: 100%; /* 100% height */
  width: 100%; /* 100% width */
}

/* Set box-sizing for every element */
* { 
    box-sizing: border-box; /* Use border-box model */
    margin: 0; /* No margin */
	padding: 0; /* No padding */
}

/* Set the basic styles for the body element, including background image and font */
body {
	margin: 0; /* No margin */
    /* Set the background image */
    background-image: url(../images/WebsiteBackNoHello.jpg); /* Background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
	background-attachment: fixed; /* Fix the background image in place */
    background-size: 100%; /* Scale the background image to 100% of the container */

    /* Set the font properties */
    font-family: 'Open Sans', sans-serif; /* Font family */
    font-weight: 300; /* Font weight */
    font-size: 24px; /* Font size */
}


/* Set the styles for h4 element */
h4 {
	font-family: 'Open Sans', sans-serif; /* Font family */
	margin-top: 440px; /* Margin-top value */
	margin-bottom: 12px; /* Margin-bottom value */
	color: #6d85a8; /* Text color */
	text-align: center; /* Centered text alignment */
	font-size: 48px; /* Font size */
	font-weight: 200; /* Font weight */
}

/* Set the styles for h1 element */
h1 {
    font-family: 'Open Sans', sans-serif; /* Font family */
    font-size: 36px; /* Font size */
    font-weight: lighter; /* Font weight */
/*     color: #6d85a8; */
    color: white;
/*     border: 1px solid yellow; */
    /* margin-top: 1%; */
    margin-bottom: 70px;
}

/* Set the styles for paragraph elements */
p {
    margin-bottom: 4%; 
    margin-right: auto; /* Center the element horizontally */
    margin-left: auto; /* Center the element horizontally */
    font-size: 24px;
	/* margin-top: 30%; */
    width: 80%; /* Width value */
    border: 1px solid magenta; 
    z-index: 1;
}

#scrollableArea {
    overflow-y: auto;
    /* max-height: 100%; */
    height: 72%;

    border: 10px solid orangered;
}

/* Set the styles for #homeIntro element */
#homeIntro {
    font-family: 'Mrs Saint Delafield', cursive; /* Font family */
    font-size: 120px; /* Font size */
    text-align: center; /* Centered text alignment */
    padding: 2%; /* Padding value */
    border: 2px solid greenyellow;  
    /* margin-top: 100px; */
}

#introParagraphDiv {
	font-size: larger;
	margin-top: 10%;
}

/* Set the styles for the navigation bars */
/* Hide the element with .hide class */
.hide {
    display: none; /* Hide the element */
}

/* Set the styles for .navList element */
.navList {
    border: 1px solid green;
}

/* Set the styles for #hamburgerIcon element */
#hamburgerIcon {
    width: 60px; /* Width value */
    margin-bottom: -10px; /* Margin-bottom value */
    border: 2px solid blue; 
    position: absolute; /* Position value */
    top: 3%; /* Top value */
    right: 2%; /* Right value */
}

/* Set the styles for .verticalNavBar element */
.verticalNavBar {
    border: 1px solid magenta;
    width: 300px; /* Width value */
    float: right; /* Float value */
}

/* Set the styles for .verticalNavBar ul li elements */
.verticalNavBar ul li {
    border: 1px solid greenyellow;
    display: block; /* Display value */
    text-align: center; /* Centered text alignment */
}

/* Set the styles for .verticalNavBar ul elements */
.verticalNavBar ul {
    border: 5px solid violet; /* Border style */
    background-color: #f07746; /* Background color */
    opacity: 0.80; /* Opacity value */
}
/* -------------------------------------------------------------------------------- */

/* Set the styles for .topnav element */
.topnav {
    border: 5px solid black; /* Border style 
    overflow: hidden; /* Overflow value */
    width: 100%; /* Width value */
    height: 20%; /* Height value */
    padding: 2% 2% 0 2%; /* Padding value */
    align-items: flex-start; /* Align-items value */
    align-content: center; /* Align-content value */
    display: inline-flexbox; /* Display value */
    color: white; /* Text color */
    font-size: 28px; /* Font size */
    /* position: fixed;
    top: 0; */
    margin: 0px 0 0 0; /* Margin values */
/*     background-color: green; */
}

/* Set the styles for .logoBar:after pseudo-element */
.logoBar:after {
    content: ""; /* Set content value */
    display: table; /* Set display value */
    clear: both; /* Clear both floats */
}

/* Set the styles for #logoBar element */
#logoBar {
/*     border: 1px solid magenta; /* Border style */ 
    float: left; /* Float value */
    margin-top: 0; /* Margin-top value */
    width: 100%; /* Width value */
    position: absolute; /* Position value */
    top: 0px; /* Top value */
    left: 0px; /* Left value */
    display: inline; /* Display value */
    justify-content: flex-start; /* Justify-content value */
    clear: both; /* Clear both floats */
}

/* Set the styles for .topnav and li elements */
.topnav, li {
    /* No additional styles set for this selector */
}

/* Set the styles for .topnav a elements */
.topnav a {
    color: white; /* Text color */
    text-decoration: none; /* Remove text decoration */
}

/* Set the styles for .topnav a:hover pseudo-class */
.topnav a:hover {
    text-decoration: underline; /* Add underline text decoration */
    color: #FAD7A0; /* Text color */
}

/* Set the styles for .topnav ul elements */
.topnav ul {
    text-align: right; /* Right-aligned text */
    padding: 0 5% 0 0; /* Padding values */
}

/* Set the styles for .topnav li elements */
.topnav li {
    list-style-type: none; /* Remove list-style */
    display: inline; /* Display value */
    margin: 0 20px 0 20px; /* Margin values */
}


/* Set the styles for .printSamples element */
.printSamples {
    margin: 0 auto 0 auto; /* Center the element */
    display: block; /* Display value */
}

/* Set the styles for .contact element */
.contact {
    margin-left: 176px; /* Margin-left value */
    margin-top: 600px; /* Margin-top value */
	font-size: medium;
}
input[type="submit"]:hover {
	background-color: #FAD7A0;
}
input[type='text'], input[type='email'] {
    border:1px solid #6d85a8;
    width:50%;
    padding: 5px;
    /* border-radius: 20px; */
}

input[type='button'] {
    background-color:#6d85a8;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}
/* Set the styles for #mainVideo element */
#mainVideo {
    border: 5px solid #f07746; /* Border style */
    width: 400px; /* Width value */
    margin: 0 auto 0 auto; /* Center the element */
    display: block; /* Display value */
}

/* Set the styles for #myTable and .myTable elements */
#myTable, .myTable {
    width: 50%; /* Width value */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    margin-top: 600px; /* Margin-top value */
}

/* Set the styles for th elements */
th {
    border: 1px solid black; /* Border style */
    font-size: larger; /* Font size */
    color: #6d85a8; /* Text color */
    background-color: white; /* Background color */
}

/* Set the styles for tfoot elements */
tfoot {
    background-color: lightblue; /* Background color */
    padding: 10px; /* Padding value */
    text-align: center; /* Centered text */
    font-size: large; /* Font size */
}

/* Set the styles for #footer element */
#footer {
    text-align: right; /* Right-aligned text */
    padding: 1.5%; /* Padding value */
    background-color: #f07746; /* Background color */
    color: black; /* Text color */
    font-size: small; /* Font size */
    position: absolute; /* Position value */
    bottom: 0px;
    width: 100%; /* Width value */
}

/* Set the styles for tablet devices */
@media only screen and (min-width: 561px) and (max-width: 1023px) {
    body {
        background-color: lightpink; /* Background color */
    }
    #hamburgerIcon {
        display: block;
        width: 45px; /* Width value */
        margin-bottom: -10px; /* Margin-bottom value */
    }
    .navList {
        display: none; /* Hide element */
    }
    .topnav {
        font-size: 13px; /* Font size */
        margin: 15px 0 0 0; /* Margin values */
    }
    p {
        font-size: 18px; /* Font size */
    }
}

/* Set the styles for mobile devices */
@media (max-width: 560px) {
    body {
        background-color: lightgreen; /* Background color */
        font-size: 12px; /* Font size */
    }
    p {
        font-size: 13px; /* Font size */
    }
    .navList {
        display: none; /* Hide element */
    }
    #hamburgerIcon {
        display: block;
        width: 50px; /* Width value */
        margin-bottom: -10px; /* Margin-bottom value */
    }
    .verticalNavBar {
        border: 1px solid magenta; /* Border style */
        width: 300px; /* Width value */
        float: right; /* Float value */
    }
    .verticalNavBar ul li {
        border: 1px solid greenyellow; /* Border style */
        display: block; /* Display value */
        text-align: center; /* Centered text */
    }
    .verticalNavBar ul {
        border: 10px solid blueviolet; /* Border style */
        background-color: #f07746; /* Background color */
        opacity: 0.80; /* Opacity value */
    }
}
