/* Set the height and width for html and body elements */
html, body {
  height: 100%;
  width: 100%;
}

/* Set box-sizing for every element */
* { 
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

/* Set the basic styles for the body element, including background image and font */
body {
	margin: 0; /* No margin */
    /* Set the background image */
    background-image: url(../images/WebsiteBackNoHello.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed; /* Fix the background image in place */
    background-size: 100%; /* Scale the background image to 100% of the container */
    /* Border for testing only */ 
    /* border: 3px dotted cyan ; */
    /* Set the font properties */
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    font-size: 24px; 
}


/* Set the styles for h4 element */
h4 {
	font-family: 'Open Sans', sans-serif; 
	margin-top: 440px;
	margin-bottom: 12px;
	color: #6d85a8; /* Text color */
	text-align: center;
	font-size: 48px;
	font-weight: 200;
}

/* Set the styles for h1 element */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: lighter;
/*     color: #6d85a8; */
    color: white;
    /* Border for testing only */ 
    /* border: 1px solid yellow; */
    /* margin-top: 1%; */
    margin-bottom: 70px;

}

/* Set the styles for paragraph elements */
p {
    margin-bottom: 4%; 
    margin-right: auto; /* Center the element horizontally */
    margin-left: auto; /* Center the element horizontally */
    font-size: 24px;
	/* margin-top: 30%; */
    width: 80%;
    /* Border for testing only */ 
    /* border: 1px solid magenta;  */
    z-index: 1;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 3px whitesmoke;
}

#scrollableArea {
    overflow-y: auto;
    /* max-height: 100%; */
    height: 72%;
    padding-bottom: 200px;
    /* Border for testing only */ 
    /* border: 10px solid orangered; */
}

/* Set the styles for #homeIntro element */
#homeIntro {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 120px;
    text-align: center;
    /* padding: 2%; */
    /* Border for testing only */ 
    /* border: 2px solid greenyellow;   */
    /* margin-top: 100px; */
    /* color | offset-x | offset-y | blur-radius */
    text-shadow:  #6d85a8 1px 0 10px;

}

#introParagraphDiv {
    /* Border for testing only */ 
    /* border: 2px solid darkorchid; */
	font-size: larger;
	margin-top: 1%;
}

/* Set the styles for the navigation bars */
/* Hide the element with .hide class */
.hide {
    display: none; /* Hide the element */
}

/* Set the styles for .navList element */
.navList {
    /* Border for testing only */ 
    /* border: 1px solid green; */
}

/* Set the styles for #hamburgerIcon element */
#hamburgerIcon {
    width: 60px; /* Width value */
    margin-bottom: -10px; /* Margin-bottom value */
    /* Border for testing only */
    /* border: 2px solid blue;  */
    position: absolute; /* Position value */
    top: 3%; /* Top value */
    right: 2%; /* Right value */
}

/* Set the styles for .verticalNavBar element */
.verticalNavBar {
    /* border: 1px solid magenta; */
    width: 300px; 
    float: right; 
}

/* Set the styles for .verticalNavBar ul li elements */
.verticalNavBar ul li {
    /* Border for testing only */ 
    /* border: 1px solid greenyellow; */
    display: block; 
    text-align: center;
}

/* Set the styles for .verticalNavBar ul elements */
.verticalNavBar ul {
    /* Border for testing only */ 
    /* border: 5px solid violet;  */
    background-color: #f07746; 
    opacity: 0.80; /* Opacity value */
}
/* -------------------------------------------------------------------------------- */

/* Set the styles for .topnav element */
.topnav {
    /* Border for testing only */ 
    /* border: 5px solid black; */
    overflow: hidden;
    width: 100%; 
    height: 20%; 
    padding: 2% 2% 0 2%; 
    align-items: flex-start; 
    align-content: center; 
    display: inline-flexbox; 
    color: white;
    font-size: 28px; 
    /* position: fixed;
    top: 0; */
    margin: 0px 0 0 0; 
/*     background-color: green; */
}

/* Set the styles for .logoBar:after pseudo-element */
.logoBar:after {
    content: ""; /* Set content value */
    display: table; /* Set display value */
    clear: both;
}

/* Set the styles for #logoBar element */
#logoBar {
    /* Border for testing only */ 
    /* border: 1px solid magenta;   */
    float: left;
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline;
    justify-content: flex-start;
    /* Clear both floats */
    clear: both;
}

/* Set the styles for .topnav and li elements */
.topnav, li {
    /* No additional styles set for this selector */
}

/* Set the styles for .topnav a elements */
.topnav a {
    color: white;
    text-decoration: none; /* Remove text decoration */
}

/* Set the styles for .topnav a:hover pseudo-class */
.topnav a:hover {
    text-decoration: underline; /* Add underline text decoration */
    color: #FAD7A0; /* Text color */
}

/* Set the styles for .topnav ul elements */
.topnav ul {
    text-align: right; 
    padding: 0 0 0 0; /* Padding values */
}

/* Set the styles for .topnav li elements */
.topnav li {
    list-style-type: none; /* Remove list-style */
    display: inline;
    margin: 0 20px 0 20px;
}


/* Set the styles for .printSamples element */
.printSamples {
    margin: 0 auto 0 auto; /* Center the element */
    display: block; 
}

/* Set the styles for .contact element */
.contact {
    margin-left: 176px;
    margin-top: 600px;
	font-size: medium;
}
input[type="submit"]:hover {
	background-color: #FAD7A0;
}
input[type='text'], input[type='email'] {
    border:1px solid #6d85a8;
    width:50%;
    padding: 5px;
    /* border-radius: 20px; */
}

input[type='button'] {
    background-color:#6d85a8;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}
/* Set the styles for #mainVideo element */
#mainVideo {
    border: 5px solid #f07746;
    width: 400px; 
    margin: 0 auto 0 auto; /* Center the element */
    display: block;
}

/* Set the styles for #myTable and .myTable elements */
#myTable, .myTable {
    width: 50%;
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    margin-top: 600px;
}

/* Set the styles for th elements */
th {
    border: 1px solid black;
    font-size: larger;
    color: #6d85a8; /* Text color */
    background-color: white;
}

/* Set the styles for tfoot elements */
tfoot {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    font-size: large;
}

/* Set the styles for #footer element */
#footer {
    text-align: right;
    padding: 1.5%;
    background-color: #f07746;
    color: black; /* Text color */
    font-size: small;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* Set the styles for tablet devices */
@media only screen and (min-width: 561px) and (max-width: 1023px) {
    body {
        /* Background color for testing only */
        background-color: lightpink;
    }
    #hamburgerIcon {
        display: block;
        width: 45px;
        margin-bottom: -10px; /* Margin-bottom value */
    }
    .navList {
        display: none; /* Hide element */
    }
    .topnav {
        font-size: 13px;
        margin: 15px 0 0 0; /* Margin values */
    }
    p {
        font-size: 18px;
    }
}

/* Set the styles for mobile devices */
@media (max-width: 560px) {
    body {
        /* Background color for testing only */
        /* background-color: lightgreen; */
        font-size: 12px;
    }
    p {
        font-size: 13px;
    }
    .navList {
        display: none; /* Hide element */
    }
    #hamburgerIcon {
        display: block;
        width: 50px;
        margin-bottom: -10px;
    }
    .verticalNavBar {
        /* border for testing only */
        /* border: 1px solid magenta; */
        width: 300px; /* Width value */
        float: right; /* Float value */
    }
    .verticalNavBar ul li {
    /* border for testing only */
        /* border: 1px solid greenyellow; */
        display: block;
        text-align: center;
    }
    .verticalNavBar ul {
        /* Bprder for testing only */
        /* border: 10px solid blueviolet; */
        background-color: #f07746;
        opacity: 0.80;
    }
}
